.order-title {
    margin-top: 87px;
    font-family: "Tinos", serif;
    font-size: 80px;
    text-align: center;
    color: #311F09;
}

.order-categories {
    margin-top: 90px;
    margin-left: 164px;
    gap: 27.58px;

    .categories-btn {
        width: 192.42px;
        padding-top: 17.22px;
        padding-bottom: 17.22px;
        background-color: rgba(208, 204, 199, .1);
        border: 1px solid rgba(208, 204, 199, .1);
        border-radius: 162.94px;
        cursor: pointer;
        font-size: 20px;
        color: #311F09;
    }

    .categories-btn__active {
        background-color: #311F09;
        border: 1px solid #311F09;
        color: #fff;
    }
}

.order-wr {
    margin-top: 102.42px;
    margin-bottom: 140.69px;
    margin-left: 164px;
    gap: 46.57px;
}

.order-content {
    flex-direction: column;
    gap: 139.69px;
}

.order-bl-title {
    width: 130px;
    padding-bottom: 10px;
    border-bottom: 2px solid #FF8A00;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
}

.order-box {
    width: 722.43px;
    margin-top: 62px;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 25.92px;
}

.order-pagination {
    margin-top: 93.63px;
    margin-left: 154.95px;
    gap: 30px;

    .pagination-btn {
        width: 55px;
        height: 55px;
        background-color: rgba(255, 138, 0, .1);
        border: 1px solid rgba(255, 138, 0, .1);
        border-radius: 15px;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        color: #FF8A00;
    }

    .pagination-action {
        background-color: #311F09;
        border: 1px solid #311F09;
    }

    .pagination-more {
        background-color: transparent;
        border: none;
    }
}

.order-list {
    width: 343px;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 29px #6C959E;
    border-radius: 20px;
}

.order-list-title {
    width: 303px;
    margin-left: 20px;
    padding: 27px 82px;
    background: #512982;
    border-radius: 20px;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
}

.order-list-products {
    margin-top: 58px;
    margin-left: 30px;
    margin-right: 30px;
    flex-direction: column;
    gap: 50px;

    .product-title {
        font-weight: 600;
        font-size: 25px;
        line-height: 200%;
        color: #000;
    }

    .product-count {
        width: 118px;
        background-color: #FAFAF9;
        border-radius: 83.1px;
        gap: 20.17px;
    }

    .product-count-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 33.24px;
        height: 33.24px;
        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-shadow: 3.32394px 3.32394px 4.98592px rgba(255, 79, 79, 0.07);
        border-radius: 83.0986px;
        cursor: pointer;
    }

    .product-count-val {
        font-size: 16.62px;
        color: #000;
    }

    .product-res {
        font-weight: 500;
        font-size: 25px;
        line-height: 200%;
        color: #FF8A00;
    }
}

.order-list .voucher {
    margin-top: 49px;
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 25px;
    border-top: 0.5px dashed #D0CCC7;
    border-bottom: 0.5px dashed #D0CCC7;

    .voucher-title {
        font-weight: 600;
        font-size: 25px;
        color: #000;
    }

    .voucher-fm {
        margin-top: 20px;

        input {
            width: 201px;
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: #FAFAF9;
            border: 1px solid #FAFAF9;
            border-radius: 15px;
            font-size: 20px;
            text-align: center;
            color: #0875C3;

            &::placeholder {
                text-transform: uppercase;
                color: #0875C3;
            }
        }

        button {
            width: 60px;
            height: 60px;
            margin-left: 22px;
            background-color: #53A5E0;
            border: 1px solid #53A5E0;
            border-radius: 15px;
            cursor: pointer;
        }
    }
}

.order-list .product-price-box {
    flex-direction: column;
    gap: 15px;
    margin-top: 39px;
    margin-left: 30px;
    margin-right: 30px;

    .product-price-title {
        font-weight: 600;
        font-size: 25px;
        color: #000;
    }

    .product-price-val {
        font-weight: 500;
        font-size: 25px;
        color: #FF8A00;
    }
}

.order-list .order-checkout-link {
    display: block;
    width: 283px;
    margin-top: 60px;
    margin-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3FC66E;
    border-radius: 15px;
    font-weight: 600;
    font-size: 25px;
    line-height: 200%;
    text-align: center;
    color: #FFFFFF;
}