.order-title {
    margin-top: 87px;
    font-family: "Tinos", serif;
    font-size: 80px;
    text-align: center;
    color: #311F09;
}

.order-categories {
    margin-top: 90px;
    margin-left: 164px;
    gap: 27.58px;

    .categories-btn {
        width: 192.42px;
        padding-top: 17.22px;
        padding-bottom: 17.22px;
        background-color: rgba(208, 204, 199, .1);
        border: 1px solid rgba(208, 204, 199, .1);
        border-radius: 162.94px;
        cursor: pointer;
        font-size: 20px;
        color: #311F09;
    }

    .categories-btn__active {
        background-color: #311F09;
        border: 1px solid #311F09;
        color: #fff;
    }
}

.order-wr {
    margin-top: 102.42px;
    margin-bottom: 140.69px;
    margin-left: 164px;
    gap: 46.57px;
}

.order-content {
    flex-direction: column;
    gap: 139.69px;
}

.order-bl-title {
    width: 130px;
    padding-bottom: 10px;
    border-bottom: 2px solid #FF8A00;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
}

.order-box {
    width: 722.43px;
    margin-top: 62px;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 25.92px;
}

.order-pagination {
    margin-top: 93.63px;
    margin-left: 154.95px;
    gap: 30px;

    .pagination-btn {
        width: 55px;
        height: 55px;
        background-color: rgba(255, 138, 0, .1);
        border: 1px solid rgba(255, 138, 0, .1);
        border-radius: 15px;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        color: #FF8A00;
    }

    .pagination-action {
        background-color: #311F09;
        border: 1px solid #311F09;
    }

    .pagination-more {
        background-color: transparent;
        border: none;
    }
}

.order-list {
    width: 343px;
    padding-top: 20px;
    padding-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 29px #6C959E;
    border-radius: 20px;
}

.order-list-title {
    width: 303px;
    margin-left: 20px;
    padding: 27px 82px;
    background: #512982;
    border-radius: 20px;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
}